@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss"; /* */

@theme {
    --color-primary: #001f3f; /* Deep Blue */
    --color-primary-light: #0160C9; /* Bright Blue */
    --color-accent: #efdbb2; /* Light Beige */

}

html,
body,
#root,
.app {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    @apply text-primary;
}